<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>검색 페이지</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<form class="searchForm">
		<input type="text" placeholder="검색어를 입력하세요">
		<button class="searchBtn" type="button" onclick="location.href='searchPage.html'">검색</button>
	</form>
	<hr>
	<div class="searchResult">
		<h1>검색 결과 내용</h1>
		<ul>
			<li>내용 1</li>
			<li>내용 2</li>
			<li>내용 3</li>
			<li>내용 4</li>
			<li>내용 5</li>
			<li>내용 6</li>
			<li>내용 7</li>
		</ul>
	</div>
</body>
</html>